body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1903px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1174px;
  height:4462px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:36px;
  width:1174px;
  height:4462px;
}
#u588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:1px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:1539px;
  top:35px;
  width:364px;
  height:1px;
}
#u589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1313px;
  height:35px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1313px;
  height:35px;
}
#u590_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:8px;
  width:342px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u591_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  word-wrap:break-word;
}
#u592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华康新综艺W7(P) Bold', '华康新综艺W7(P) Regular', '华康新综艺W7(P)';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FF0000;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:49px;
  width:115px;
  height:32px;
  font-family:'华康新综艺W7(P) Bold', '华康新综艺W7(P) Regular', '华康新综艺W7(P)';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FF0000;
}
#u592_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:115px;
  word-wrap:break-word;
}
#u593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:33px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:2px;
  width:88px;
  height:33px;
}
#u593_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:177px;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:1211px;
  top:34px;
  width:102px;
  height:177px;
}
#u594_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:92px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:358px;
  width:86px;
  height:92px;
}
#u595_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:179px;
  width:86px;
  height:48px;
}
#u596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:422px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:1916px;
  width:576px;
  height:422px;
}
#u597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u598_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:113px;
  height:31px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:2368px;
  width:98px;
  height:5px;
  -webkit-transform:rotate(240deg);
  -moz-transform:rotate(240deg);
  -ms-transform:rotate(240deg);
  transform:rotate(240deg);
}
#u598_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
