body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1903px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:3529px;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:3529px;
}
#u327_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华康新综艺W7(P) Bold', '华康新综艺W7(P) Regular', '华康新综艺W7(P)';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FF0000;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:49px;
  width:115px;
  height:32px;
  font-family:'华康新综艺W7(P) Bold', '华康新综艺W7(P) Regular', '华康新综艺W7(P)';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FF0000;
}
#u328_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:33px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:1704px;
  top:0px;
  width:192px;
  height:33px;
}
#u329_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:33px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:1530px;
  top:0px;
  width:71px;
  height:33px;
}
#u330_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:33px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:33px;
}
#u331_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:33px;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:0px;
  width:598px;
  height:33px;
}
#u332_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:8px;
  width:342px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u333_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  word-wrap:break-word;
}
